<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animasi Ceklis SVG dan Teks</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/done.css" />
    <script src="/js/done.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 h-screen flex items-center justify-center flex-col">
    <div class="checkmark mb-6">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#07d530"
      >
        <g id="SVGRepo_iconCarrier">
          <path
            d="M8.5 12.5L10.5 14.5L15.5 9.5"
            stroke="#07d530"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8"
            stroke="#07d530"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
        </g>
      </svg>
    </div>

    <!-- Pesan Teks -->
    <div class="text-center">
      <p class="mt-4 text-green-500 text-xl font-semibold text-animation">
        Hore, berhasil memesan!
      </p>
      <p class="mt-2 text-gray-500 text-lg font-semibold text-animation">
        Terima kasih telah memesan produk kami. Pesanan Anda sedang diproses!
      </p>
      <p class="mt-2 text-gray-500 text-lg text-animation">
        Anda akan diarahkan ke halaman utama dalam
        <span id="countdown" class="font-bold">10</span> detik.
      </p>
    </div>
    <script src="/js/preline.js"></script>
  </body>
</html>
