<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Utama</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="p-4">
      <h2>Selamat Datang di Halaman Utama!</h2>
      <p>Ini adalah konten utama Anda.</p>


      <p>man, this shit suck ass</p>
      <p>anyway, how is your day?</p>
    </main>
  </body>
</html>
