input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hs-overlay-backdrop {
  display: none;
}
/* .hs-overlay-backdrop {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Ubah nilai alpha untuk mengatur transparansi */
/* } */

/* Menyesuaikan scrollbar untuk semua browser yang mendukung */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna latar belakang track scrollbar */
  border-radius: 10px; /* Membuat track lebih bundar */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Warna scrollbar thumb */
  border-radius: 10px; /* Membuat thumb lebih bundar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna scrollbar thumb saat hover */
}
