input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#password,
#noHp::placeholder {
  letter-spacing: 2px;
}

#password,
#noHp:focus {
  border: none;
  outline: none;
}

body {
  background-color: #f7fafc;
}
