<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produk di <%= location %></title>
  </head>
  <body>
    <h1>Produk di <%= location %></h1>
    <ul>
      <% products.forEach(product => { %>
      <li><%= product.name %></li>
      <% }); %>
    </ul>
    <a href="/">Kembali ke Beranda</a>
  </body>
</html>
